{% extends "base.j2" %}

{% block title %}Bienvenue{% endblock %}

{% block content %}
<h1>Bienvenue.</h1>

<p>
    MD5 decrypt : <a href="https://md5decrypt.net/">https://md5decrypt.net/</a>
</p>
<p>
    Have I been pwned : <a href="https://haveibeenpwned.com/">https://haveibeenpwned.com/</a>
</p>

<h2>Pour aller plus loin</h2>
<p>
    MD5 : <a href="https://fr.wikipedia.org/wiki/MD5">https://fr.wikipedia.org/wiki/MD5</a>
</p>

<h2>Accès rapide depuis un mobile</h2>
<div class="d-inline-block p-3 bg-white border rounded">
    {{ qr_svg|safe }}
</div>
<p class="text-muted mt-2"><small>{{ qr_url }}</small></p>

{% endblock %}