{% extends "base.html" %}
{% block title %}Comptes{% endblock %}

{% block nav_listusers %}active{% endblock %}

{% block content %}
<h1>Comptes</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Nom</th>
                <th>Mot de passe encodé</th>
                <th>Stratégie</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.timestamp}}</td>
                <td>{{user.username}}</td>
                <td>{{user.password}}</td>
                <td>{{user.strategy}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}