{% extends "base.j2" %}

{% block title %}Se connecter{% endblock %}

{% block nav_login %}active{% endblock %}

{% block extrahead %}
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const form = document.querySelector('form');
    const btn = form.querySelector('[type=submit]');
    const check = () => btn.disabled = !form.checkValidity();
    check();
    form.addEventListener('input', check);
  });
</script>
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center">
  <div class="card p-4 shadow" style="width: 100%; max-width: 380px">
    <div class="card-body">
      <h3 class="card-title text-center mb-4">Se connecter</h3>
      {% if error %}
      <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endif %}
      <form action="" method="post" autocomplete="off">
        <div class="mb-3">
          <div class="form-floating">
            <input type="text" id="username" placeholder="Nom" name="username" value="{{
            request.form.username }}" class="form-control" required minlength="{{min_chars}}" autofocus
              autocapitalize="off" autocorrect="off" spellcheck="false" />
            <label for="username">Nom</label>
          </div>
          <div class="form-text">Minimum {{min_chars}} caractères</div>
        </div>
        <div class="mb-3">
          <div class="form-floating">
            <input type="password" id="password" placeholder="Mot de passe" name="password" class="form-control"
              required minlength="{{min_chars}}" />
            <label for="password">Mot de passe</label>
          </div>
          <div class="form-text">Minimum {{min_chars}} caractères</div>
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-primary">Se connecter</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}