{% extends "base.html" %}
{% block title %}Se connecter{% endblock %}

{% block content %}
<h1>Se connecter</h1>
<br>
<form action="" method="post">
	<div class="form-group">
  <input type="text" placeholder="Nom" name="username" value="{{
          request.form.username }}">
		  </div>
	  <div class="form-group">
  <input type="password" placeholder="Mot de passe" name="password" value="{{
          request.form.password }}">
	  </div>
  <button type="submit" class="btn btn-primary">
	  Se connecter
  </button>
</form>
{% if error %}
<br>
<div class="alert alert-danger" role="alert">
	{{ error }}
</div>
{% endif %}
{% endblock %}