{% extends "base.html" %}
{% block title %}Se connecter{% endblock %}

{% block nav_login %}active{% endblock %}

{% block content %}
<h1>Se connecter</h1>
<br>
<form action="" method="post">
  <div class="mb-3 mt-3">
    <input type="text" placeholder="Nom" name="username" value="{{
          request.form.username }}" class="form-control">
  </div>
  <div class="mb-3 mt-3">
    <input type="password" placeholder="Mot de passe" name="password" value="{{
          request.form.password }}" class="form-control">
  </div>
  <div class="mb-3 mt-3">
    <button type="submit" class="btn btn-primary">
      Se connecter
    </button>
  </div>
</form>
{% if error %}
<br>
<div class="alert alert-danger" role="alert">
  {{ error }}
</div>
{% endif %}
{% endblock %}