{% extends "base.html" %}
{% block title %}Créer un compte{% endblock %}

{% block nav_register %}active{% endblock %}

{% block content %}
<h1>Créer un compte</h1>
<br>
<form action="" method="post">
  <div class="mb-3 mt-3">
    <input type="text" placeholder="Nom" name="username" value="{{
          request.form.username }}" class="form-control">
  </div>
  <div class="mb-3 mt-3">
    <input type="password" placeholder="Mot de passe" name="password" value="{{
          request.form.password }}" class="form-control">
  </div>
  <div class="mb-3 mt-3">
    <label>Stratégie</label>
    <select class="form-control" name="strategy_name">
      {% for s_name in strategies.keys() %}
      <option value="{{s_name}}">{{s_name}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="mb-3 mt-3">
    <button type="submit" class="btn btn-primary">
      Créer
    </button>
  </div>
</form>
{% if error %}
<br>
<div class="alert alert-danger" role="alert">
  {{ error }}
</div>
{% endif %}
{% endblock %}