{% extends "base.j2" %}

{% block title %}Infos compte{% endblock %}

{% block content %}
<h1>Votre compte</h1>
<dl>
  <dt>Nom</dt>
  <dd>{{user.username}}</dd>
  <dt>Mot de passe encodé</dt>
  <dd>{{user.password}}</dd>
  <dt>Stratégie</dt>
  <dd>{{user.strategy}}</dd>
  <dt>Date de création</dt>
  <dd>{{user.timestamp}}</dd>
</dl>
{% endblock %}